<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>
<body>
    <div class="header container">
        <div class="page-header">
            <h1>Example page header  <small>Subtext for header</small></h1>
            <a href="/post" class="btn btn-success">人员注册</a>
            <a href="/lg">登录</a>
        </div>
    </div>
    <div class="comments container">
        <ul class="list-group">
            {{each students}}
            <li class="list-group-item">id:{{ $value.id }} 用户名:{{ $value.username }}<span class="pull-right">{{ $value.dateTime }}</span></li>
            <a href="/edit?id={{ $value.id }}">编辑</a>
            <a href="/delete?id={{ $value.id }}" onclick="return isDelete();">删除</a>
            {{/each}}
        </ul>
        <script>
            function isDelete() {
                if (confirm('确认删除吗？')) return ture;
                else return false
            }
        </script>
    </div>
</body>
</html>