<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>留言发表页面</title>
</head>
<body>
    <!-- 
        表单中需要提交的表单控件元素必须具有 name 属性
        表单提交分为：
            1.默认的提交行为
            2.表单异步提交

            action 就是表单提交的地址， 说白了就是请求的 url 地址
            method 请求方法
                get
                post
     -->
    <h1>首页 <small>发表评论</small></h1>
    <form action="/edit" method="post">
        <!-- 
            用来放一些不希望被用户看见，但需要提交要服务端的数据
         -->
        <input type="hidden" value="{{ student.id }}" name="id">
        你的大名
        <br><br>
        <input type="text" name="username" required minlength="2" maxlength="10" placeholder="请写入你的姓名" value="{{ student.username }}">
        <br><br>
        留言内容
        <br><br>
        <input type="text" name="password" required minlength="5" maxlength="100" placeholder="评论" value="{{ student.password }}">
        <br><br>
        <input type="submit" value="提交"  onclick="return IsUpdate();">
    </form>
    <h2>{{ message }}</h2>
    <script>
        function IsUpdate () {
            if(confirm('确定更改？')) return true
            return false
        }
    </script>
</body>
</html>